.navbar{
  position: fixed;
  left: 50%; /* on positionne l'élément à la moitié de l'écran */
  margin-left: -516px;
  top: 40px;
  background: radial-gradient(100% 36880.47% at 0% 0%, #fed3d3 0%, rgba(255, 255, 255, 0.984375) 0.01%, rgba(255, 255, 255, 0) 46.87%);
  width: 1032px;
  font-weight: 600;
  font-size: 1.4em;
  border-radius: 10px;
  box-shadow: 0px 4px 21px 6px #00000024;

}

.menuNav{
  float: right;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.name{
  float: left;
  margin-left: 20px;
}



.container {
  background-image: url(../src/img/bg.png);
  background-size: cover;
  padding: 0.2rem;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1{
  text-align: left;
  max-width: 1000px;
  font-size: 64px;
  font-weight: 600;
  margin: 0;
}

.job{
  text-align: left;
  width: 1000px;
  color: #777777;
  font-size: 1.4em;
}

.job a {
  color: #000000;
}

.limpide:hover {
  color: #0BE3E1;
}

.hetic:hover{
  color: #27E89F;
}
.kluster:hover{
  color: #85243A;
}

.work{
  font-family: 'Poppins';
  width: 1000px;
  font-size: 1em;
  font-weight: 600;
  color: #FFFFFF;
  width: 160px;
  height: 40px;
  border-radius: 5px;
  background: #000;
  
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1065px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 500px;
}

.card:hover,
.card:focus,
.card:active {
  color:purple;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .h1{
    font-size: 1em;
  }
}
