/*Niveau de titres*/

.title{
  font-weight: 600;
}

.subtitle{
  font-weight: 400;
}

/* Style du site */


.navbar{
  position: fixed;
  left: 50%; /* on positionne l'élément à la moitié de l'écran */
  margin-left: -516px;
  top: 40px;
  background: radial-gradient(100% 36880.47% at 0% 0%, #fed3d3 0%, rgba(255, 255, 255, 0.984375) 0.01%, 
  rgba(255, 255, 255, 0) 46.87%);
  backdrop-filter: blur(15px);
  width: 1032px;
  font-weight: 600;
  font-size: 1.4em;
  border-radius: 10px;
  box-shadow: 0px 4px 21px 6px #00000024;
  z-index: 1;
}

.menuNav{
  float: right;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menuItems{
  display: flex;
  flex-direction: row;
  list-style: none;
  float: right;
  justify-content: space-between;
  margin-right: 20px;
}

.menuItems li{
  margin-left: 20px;
}

.menuItems a{
  text-decoration: none;
  color: #000000;
}



.name{
  float: left;
  margin-left: 20px;
}

.container {
  background-image: url(../src/img/bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10px;
}

.main {
  margin-top: 200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main1 {
  margin-top: 200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.h1{
  text-align: left;
  max-width: 1000px;
  font-size: 4vw;
  font-weight: 600;
  margin: 0;
}

.job{
  text-align: left;
  width: 1000px;
  color: #777777;
  font-size: 1.5vw;
}

.job a {
  color: #000000;
}

.limpide:hover {
  color: #0BE3E1;
}

.hetic:hover{
  color: #27E89F;
}
.kluster:hover{
  color: #85243A;
}

.work{
  font-family: 'Poppins';
  width: 1000px;
  font-size: 1em;
  font-weight: 600;
  color: #FFFFFF;
  width: 160px;
  height: 40px;
  border-radius: 5px;
  background: #000;
  
}

.footer {
  margin-top: 100px;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1065px;
  margin-top: 150px;
}

.card {
  height: 100vh;
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  color: inherit;
  z-index: 0;
  text-decoration: none;
  width: 500px;
  height: 610px;
  border-radius: 30px;
  box-shadow: 0px 4px 64px 0px #00000040;

}

.card:hover{
  transform: scale(1.01);
  
}

.card h2{ 
  margin-top: 31.4rem;
  font-size: 2.5rem;
  font-weight: 600;
}

.card1{
  background-image: url(../src/img/corseMatin.png);
  background-size: cover;
  color: #fafafa;
}

.card2{
  background-image: url(../src/img/mfo.png);
  background-size: cover;
  color: #7392FE;
}

.card3{
  background-image: url(../src/img/Bump.png);
  background-size: cover;
  color: #FE303A;
}

.card4{
  background-image: url(../src/img/dismoi.png);
  background-size: cover;
  background-color: rgb(251, 251, 251);
  color: #0F2E59;
}

/*Content of the projetct*/

.time p{
    color: #777777;
    margin-left: -500px;
    margin-top: -300px;
}
.line{
    margin-left: 0px;
    margin-top: -270px;
    width: 1000px;
    height: 1px;
    background-color: #777777;
}

.visuelTop{
    background-image: url('../src/img/corseMatin.png');
    background-size: cover;
    height: 100vh;
}

.error{
  background-image: url('../src/img/bg.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.snakes{
  position: absolute;
  background-image: url('../src/img/snakes.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  left: 200px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .h1{
    font-size: 1em;
  }
  .container{
    background-image: url(../src/img/bg.png);
    background-size:cover;
    width: 100vw;
  }

  /* .card3{
    background-image: url('../src/img/bumpResponsive.png');
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90vw;
  }
  .card2{
    background-image: url('../src/img/mfoResponsive.png');
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90vw;
  }
  .card1{
    background-image: url('../src/img/mfoResponsive.png');
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
  } */
  .navbar{
    display: flex;
    width: 800px;
    justify-content: space-between;
    align-items: center;
  }
}
